gunicorn
Django
configparser
gTTS
jinja2
openai==1.6.1
Pillow
regex
requests
boto3
retrying
tiktoken
unidecode
whitenoise
dj-database-url
psycopg2
psycopg2-binary
django-storages
django-cors-headers
django_q
jieba
chardet

