.disabled-link {
    pointer-events: none;
    color: #ccc;
}

.textarea-class {
    width: 200%; 
    height: 300px; 
}

.status-messages-class {
    height: 200px;  /* Adjust as needed */
    overflow-y: auto;
}
