.word {
  cursor: pointer;
  position: relative;
  font-size: {{ font_size }}; /* Placeholder for font size */
  line-height: 1.6; /* Add a bit more space between lines */
}

.word:hover, .mwe-group-hover {
  background-color: rgba(255, 255, 0, 0.5); /* Yellow with 50% opacity */
}

.svg-word:hover {
  fill: rgba(255, 255, 0, 0.5); /* Yellow with 50% opacity */
}

.mwe-highlight {
   background-color: rgba(255, 255, 0, 0.5); /* Yellow with 50% opacity */
}


.word:hover::after {
  content: attr(data-gloss);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 4px 10px;
  border-radius: 3px;
  font-size: 1em; /* Increase font size for better readability */
  top: 1.2em;
  {{ left_or_right_for_gloss_popup }}: 0; 
  min-width: 100%; /* Ensure the gloss popup is never smaller than the word it is glossing */
  white-space: normal; /* Allow gloss to wrap to a new line */
  z-index: 100; /* Ensure the popup appears above other content */
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5); /* Add a subtle shadow for depth */
}

/* Additional RTL styling */
.rtl .word:hover::after {
  left: auto; /* Ignore left positioning for RTL */
  right: 0; /* Start positioning from the right edge */
}

.svg-word:hover::after {
  content: attr(data-gloss);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 4px 10px;
  border-radius: 3px;
  font-size: 1em; /* Increase font size for better readability */
  top: -2em;
  {{ left_or_right_for_gloss_popup }}: 0; 
  min-width: 100%; /* Ensure the gloss popup is never smaller than the word it is glossing */
  white-space: normal; /* Allow gloss to wrap to a new line */
  z-index: 100; /* Ensure the popup appears above other content */
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5); /* Add a subtle shadow for depth */
}

/* Additional RTL styling */
.rtl .svg-word:hover::after {
  left: auto; /* Ignore left positioning for RTL */
  right: 0; /* Start positioning from the right edge */
}

.translation-icon {
    cursor: pointer;
    margin-left: 5px;
}

.translation-popup {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 5px;
    z-index: 1000;
    max-width: 200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

body {
  padding: 2rem 1rem; /* Increase the top padding from 1rem to 2rem */
  font-family: {{ font_type }}; /* Placeholder for font type */
  font-size: {{ font_size }}; /* Placeholder for font size */
  text-align: {{ text_align }}; /* Placeholder for text alignment */
}

.image-container {
    position: relative;
}

.image-container svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Navigation Bar */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Navigation Buttons */
.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.nav-bar a,
.nav-bar button {
  display: inline-block;
  font-family: Arial, sans-serif;
  text-decoration: none;
  color: #333;
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #333;
  border-radius: 4px;
  background-color: #fff;
  transition: all 0.3s ease;
  font-size: 1.5em;
  font-weight: bold; 
}

.nav-bar a:hover,
.nav-bar button:hover {
  background-color: #333;
  color: #fff;
}

.nav-bar a.disabled,
.nav-bar button:disabled {
  color: #999;
  border-color: #999;
  cursor: not-allowed;
  pointer-events: none;
}

.vocab-list {
  font-size: 1.4em;
  line-height: 1.6;
}

.speaker-icon {
  cursor: pointer;
  margin-left: 0.2em;
  font-size: {{ font_size }};
  vertical-align: middle;
}

.concordance-highlight {
  background-color: yellow;
}

.back-arrow-icon {
  display: inline-block;
  cursor: pointer;
  font-size: 1.2em;
  padding: 2px;
  border-radius: 4px;
  margin-right: 4px;
}

.back-arrow-icon:hover {
  background-color: #f0f0f0;
}

.back-arrow-icon:active {
  background-color: #e0e0e0;
}

.segment-highlight {
  background-color: rgba(255, 255, 0, 0.5); /* Yellow with 50% opacity */
}

/* Add these styles to the end of the clara_styles.css file */

.page-container {
  display: flex;
  flex-direction: row;
}

.page-container.rtl {
  flex-direction: row-reverse;
}

.page {
  margin: 5%;
}

.concordance-pane-wrapper {
  width: 50%;
  height: 100vh;
  position: relative;
}

.concordance-iframe {
  width: 100%;
  height: 75vh;
}  

.main-text-pane-wrapper {
  width: 50%;
  height: 100vh;
  overflow-y: auto;
  padding-top: 2rem; /* Add padding-top to create space at the top of the main text */
}

.concordance-pane {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  margin: 2rem;
}

