{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript">
    var csrf_token = "{% csrf_token %}";
  </script>
  <style>
  .disabled-link {
    pointer-events: none;
    color: #ccc;
   }

  .textarea-class {
    width: 200%; 
    height: 300px; 
  }

  .status-messages-class {
    height: 200px;  /* Adjust as needed */
    overflow-y: auto;
  }
  
  .btn-special {
    background-color: #007bff;  /* Change to any color you prefer */
    color: white;
  }

  .btn-special:hover {
    background-color: #0056b3;  /* Darker shade for hover */
  }

  </style>
  <title>{% block title %}C-LARA{% endblock %}</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        {% if user.is_authenticated %}
		  <li><a href="{% url 'profile' %}">Display user profile</a></li>
		  <li><a href="{% url 'edit_profile' %}">Edit user profile</a></li>
		  <li><a href="{% url 'friends' %}">Display friends</a></li>
		  <li><a href="{% url 'user_config' %}">Set GPT-4 version</a></li>
		  <li><a href="{% url 'credit_balance' %}">Credit balance for ChatGPT-4 API calls</a></li>
		  <li><a href="{% url 'transfer_credit' %}">Transfer credit to another user</a></li>
		  <li><a href="{% url 'view_task_updates' %}">Recent task updates</a></li>
		  {% if user.userprofile.is_admin %}
		  <li><a href="{% url 'add_credit' %}">Add credit to user</a></li>
            <li><a href="{% url 'admin_password_reset' %}">Manually reset user's password</a></li>
			<li><a href="{% url 'manage_language_masters' %}">Manage language masters</a></li>
			<li><a href="{% url 'delete_tts_data' %}">Delete TTS data</a></li>
          {% endif %}
		  {% if user.userprofile.is_language_master %}
			<li><a href="{% url 'edit_prompt' %}">Edit annotation prompts</a></li>
			<li><a href="{% url 'edit_phonetic_lexicon' %}">Edit phonetic lexicon</a></li>
		  {% endif %}
		  <li><a href="{% url 'create_project' %}">Create new C-LARA project</a></li>
		  <li><a href="{% url 'import_project' %}">Import C-LARA project from zipfile</a></li>
		  <li><a href="{% url 'project_list' %}">List your C-LARA projects</a></li>
		  <li><a href="{% url 'content_list' %}">List registered content</a></li>
		  <li><a href="{% url 'register_content' %}">Register external LARA content</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'register' %}">Register</a></li>
		  <li><a href="{% url 'password_reset' %}">Password reset</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>

  <main>
    {% for message in messages %}
       <div class="alert alert-{{ message.tags }}">
       {{ message }}
       </div>
    {% endfor %}

    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
