{% extends 'clara_app/base.html' %}

{% block content %}
  <h2>Registered Content</h2>
  <form method="get" action="{% url 'content_list' %}">
    <p>Text language: {{ search_form.l2 }}</p>
	<p>Annotation language: {{ search_form.l1 }}</p>
	<p>Title: {{ search_form.title }}</p>
    <button type="submit">Search</button>
  </form>

  <ul>
    {% for content in contents %}
      <li><a href="{{ content.get_absolute_url }}">{% if content.title %} {{ content.title }} {% else %} (No title) {% endif %}</a></li>
    {% empty %}
      <li>No content has been registered yet.</li>
    {% endfor %}
  </ul>
  
  <div class="pagination">
    <span class="step-links">
        {% if contents.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ contents.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ contents.number }} of {{ contents.paginator.num_pages }}.
        </span>

        {% if contents.has_next %}
            <a href="?page={{ contents.next_page_number }}">next</a>
            <a href="?page={{ contents.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>
{% endblock %}
