{% extends 'clara_app/base.html' %}

{% load static %}

{% block title %}Create Glossed Text from Lemma-Tagged Text{% endblock %}

{% block content %}
  <h2>Create Glossed Text from Lemma-Tagged Text ("{{ project.title }}")</h2>
  <form method="post" id="create-glossed-text-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" id="submit-button">Create</button>
  </form>
  
  <div class="sticky-footer">
    <a href="{% url 'project_detail' project.id %}">Back to Project</a>
  </div>

  <script type="text/javascript">
    document.getElementById('create-glossed-text-form').onsubmit = function() {
      document.getElementById('submit-button').textContent = "Processing...";
    };
  </script>
  
  <script src="{% static 'clara_app/scripts/form-button-text.js' %}"></script>
  
{% endblock %}
