{% extends 'clara_app/base.html' %}

{% load static %}

{% block title %}Create Segmented Text{% endblock %}

{% block content %}
  <div class="main-content">
  <h2>Create Segmented Text ("{{ project.title }}")</h2>
  <form method="post" id="create-segmented-text-form">
	{% csrf_token %}
    <p>{{ form.text_choice.label_tag }} {{ form.text_choice }}</p>
	<p>{{ form.text_type.label_tag }} {{ form.text_type }}</p>
    <p>{{ form.archived_version.label_tag }} {{ form.archived_version }}</p>
	<p>{{ form.current_version.label_tag }} {{ form.current_version }}</p>
    <p>{{ form.text.label_tag }} {{ form.text }}</p>
    <p>{{ form.label.label_tag }} {{ form.label }}</p>
	<p>{{ form.gold_standard.label_tag }} {{ form.gold_standard }}</p>
    <button type="submit" id="submit-button">Create</button>
  </form>
  </div>
  
  <div class="sticky-footer">
    <a href="{% url 'project_detail' project.id %}">Back to Project</a>
  </div>

  <script type="text/javascript">
    document.getElementById('create-segmented-text-form').onsubmit = function() {
      document.getElementById('submit-button').textContent = "Processing...";
    };
  </script>

  <script src="{% static 'clara_app/scripts/form-button-text.js' %}"></script>

{% endblock %}
