{% extends "clara_app/base.html" %}

{% block content %}
  <h1>Create a new project using Advanced C-LARA</h1>
  <form method="POST">
    {% csrf_token %}
	<table>
    <tr>
      <td><label for="title">Title:</label></td>
      <td>{{ form.title }}</td>
    </tr>
    <tr>
      <td><label for="l2">Text language:</label></td>
      <td>{{ form.l2 }}</td>
    </tr>
    <tr>
      <td><label for="l1">Annotation language:</label></td>
      <td>{{ form.l1 }}</td>
    </tr>
	<tr>
      <td><label for="uses_coherent_image_set">Use coherent AI-generated image set:</label></td>
      <td>{{ form.uses_coherent_image_set }}</td>
    </tr>
	<tr>
      <td><label for="uses_coherent_image_set">Base image set on translations:</label></td>
      <td>{{ form.use_translation_for_images }}</td>
    </tr>
    <tr>
      <td></td>
      <td><button type="submit">Create Project</button></td>
    </tr>
  </table>
    {% if form.errors %}
        <ul>
        {% for field in form %}
            {% for error in field.errors %}
                <li><strong>{{ field.label }}:</strong> {{ error|escape }}</li>
            {% endfor %}
        {% endfor %}
        </ul>
    {% endif %}
</form>
{% endblock %}
