{% extends 'clara_app/base.html' %}

{% block title %}Compare Text Versions{% endblock %}

{% block content %}
  <h2>Compare Text Versions ("{{ project.title }}")</h2>
  
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Compare</button>
  </form>
  
  <div class="sticky-footer">
    <a href="{% url 'project_detail' project.id %}">Back to Project</a>
  </div>

  <!-- JavaScript for dynamically populating the file menus -->
  <script type="text/javascript">
  $(document).ready(function() {
    var csrf_token = "{{ csrf_token }}"; // Django provides this template tag for CSRF token
    $.ajaxSetup({
        headers: { "X-CSRFToken": csrf_token }
    });

    $('#id_version').change(function() {
        var selected_version = $(this).val();
        var project_id = "{{ project.id }}"; // Assuming you pass the project in the context of your view

        $.ajax({
            url: '/accounts/projects/' + project_id + '/metadata/' + selected_version + '/',
            type: 'GET',
            success: function(data) {
                // Clear existing options
                $('#id_file1').html('');
                $('#id_file2').html('');

                // Add new options
                for (var i=0; i < data.length; i++) {
                    $('#id_file1').append($('<option>', {
                        value: data[i].file,
                        text: data[i].description  
                    }));
                    $('#id_file2').append($('<option>', {
                        value: data[i].file,
                        text: data[i].description  
                    }));
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                // Handle any errors here
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);
            }
        });
    });
  });
  </script>
{% endblock %}
