{% extends "clara_app/base.html" %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset %}
	  <hr>
	  {% if form.image_base_name.value %}
         <p><img src="{% url 'serve_project_image' project.internal_id form.image_base_name.value %}" alt="Current Project Image" style="max-width: 300px; max-height: 300px;"></p>
      {% else %}
         <p>No image currently stored.</p>
      {% endif %}
      {{ form.as_p }}
    {% endfor %}
    <button type="submit">Save changes</button>
  </form>
  
  <p>
    <a href="{% url 'project_detail' project.id %}">Back to Project</a>
  </p>
{% endblock %}