{% extends "clara_app/base.html" %}

{% block title %}Edit Images V2{% endblock %}

{% block content %}
<div class="main-content">
  {% if errors %}
    <div class="error-messages alert alert-danger">
      <p>Errors found in form:</p>
      <ul>
        {% for form_errors in errors %}
          {% for field, field_errors in form_errors.items %}
            <li>{{ field }}: {{ field_errors|join:", " }}</li>
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <h2>Edit Images V2 ("{{ project.title }}")</h2>
  
    <!-- Overview Section -->
	<h3>Overview Document</h3>
	<form method="post">
	  {% csrf_token %}
	  <button type="submit" name="action" value="create_overview">Generate Overview Document</button>
	  {% if overview_file_exists %}
		<p>You can view the generated overview document here: <a href="{% url 'serve_coherent_images_v2_overview' project.id %}" target="_blank"}>Overview Document</a></p>
	  {% endif %}
	</form>

  <!-- Parameters Form -->
  <h3>Image Generation Parameters</h3>
  <form method="post">
    {% csrf_token %}
    {{ params_form.as_p }}
    <button type="submit" name="action" value="save_params">Save Parameters</button>
  </form>

  <!-- Style Section -->
  <h3>Style</h3>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ style_formset.management_form }}
	<table>
      <thead>
        <tr>
          <th>Advice</th>
          <th>Image</th>
        </tr>
      </thead>
	  <tbody>
      {% for form in style_formset %}
			<tr>
				<td>{{ form.advice }}</td>
				<td>{% if form.relative_file_path.value %}
					<img src="{% url 'serve_coherent_images_v2_file' project.id form.relative_file_path.value %}" alt="Style Image" style="max-width: 300px; max-height: 300px;">
				
					{% else %}
					No style image currently stored.
					{% endif %}
				</td>
			</tr>
		<!-- Display alternate images -->
			{% if form.initial.alternate_images %}
			<tr>
				<div class="alternate-images">
					<td colspan="2">
					{% for alt_image in form.initial.alternate_images %}
						<img src="{% url 'serve_coherent_images_v2_file' project.id alt_image.relative_file_path %}" alt="Alternate Image" style="max-width: 100px; max-height: 100px;">
						<!-- Promote Button -->
						<form method="post" style="display:inline;">
							{% csrf_token %}
							<input type="hidden" name="action" value="promote_alternate_image">
							<input type="hidden" name="content_type" value="style">
							<input type="hidden" name="content_identifier" value="style">
							<input type="hidden" name="alternate_image_id" value="{{ alt_image.id }}">
							<button type="submit">Promote</button>
						</form>
					{% endfor %}
					</td>
				</div>
			</tr>
			{% endif %}
		{% endfor %}
		</tr>
	  </tbody>
    </table>
		<button type="submit" name="action" value="save_style_advice">Save Style Advice</button>
        <button type="submit" name="action" value="create_style_description_and_image">Generate Style Image</button>
 
  </form>

  <!-- Elements Section -->
  <h3>Elements</h3>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ element_formset.management_form }}
    <table>
      <thead>
        <tr>
          <th>Element Name</th>
          <th>Advice</th>
          <th>Image</th>
          <th>Generate</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for form in element_formset %}
			  <tr>
				<td>{{ form.element_name }}</td>
				<td>{{ form.advice }}</td>
				<td>
				  {% if form.relative_file_path.value %}
					<img src="{% url 'serve_coherent_images_v2_file' project.id form.relative_file_path.value %}" alt="{{ form.element_name.value }}" style="max-width: 200px; max-height: 200px;">
				  {% else %}
					<p>No image.</p>
				  {% endif %}
				</td>
				<td>{{ form.generate }}</td>
				<td>{{ form.delete }}</td>
			  </tr>
		<!-- Display alternate images -->
			{% if form.initial.alternate_images %}
			<tr>
				<div class="alternate-images">
					<td colspan=5>
					{% for alt_image in form.initial.alternate_images %}
							<img src="{% url 'serve_coherent_images_v2_file' project.id alt_image.relative_file_path %}" alt="Alternate Image" style="max-width: 100px; max-height: 100px;">
							<!-- Promote Button -->
							<form method="post" style="display:inline;">
								{% csrf_token %}
								<input type="hidden" name="action" value="promote_alternate_image">
								<input type="hidden" name="content_type" value="element">
								<input type="hidden" name="content_identifier" value="{{ form.element_name.value }}">
								<input type="hidden" name="alternate_image_id" value="{{ alt_image.id }}">
								<button type="submit">Promote</button>
							</form>
					{% endfor %}
					</td>
				</div>
			</tr>
			{% endif %}
        {% endfor %}
      </tbody>
    </table>
    <button type="submit" name="action" value="create_element_names">Generate Element Names</button>
	<button type="submit" name="action" value="save_element_advice">Save And/Or Delete</button>
    <button type="submit" name="action" value="create_element_descriptions_and_images">Generate Selected Elements</button>
  </form>

  <!-- Pages Section -->
  <h3>Pages</h3>
  <form id="display-options-form">
    <label><input type="checkbox" id="show-segmented" checked> Display Segmented Text</label>
    <label><input type="checkbox" id="show-translated" checked> Display Translated Text</label>
    <label><input type="checkbox" id="show-mwe" checked> Display MWE Text</label>
    <label><input type="checkbox" id="show-lemma" checked> Display Lemma Text</label>
    <label><input type="checkbox" id="show-gloss" checked> Display Gloss Text</label>
   </form>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ page_formset.management_form }}
    <table>
      <thead>
        <!-- <tr>
          <th>Page Number</th>
          <th>Advice</th>
          <th>Image</th>
          <th>Generate</th>
          <th>Delete</th>
        </tr> 
      </thead> -->
      <tbody>
        {% for form in page_formset %}
		  <tr>
			  <th><b>Page Number</b></th>
			  <th><b>Advice</b></th>
			  <th><b>Image</b></th>
			  <th><b>Generate</b></th>
			  <th><b>Delete</b></th>
          </tr>
          <tr>
            <td>{{ form.page }}</td>
            <td>{{ form.advice }}</td>
            <td>
              {% if form.relative_file_path.value %}
                <img src="{% url 'serve_coherent_images_v2_file' project.id form.relative_file_path.value %}" alt="Page {{ form.page.value }}" style="max-width: 200px; max-height: 200px;">
              {% else %}
                <p>No image.</p>
              {% endif %}
            </td>
            <td>{{ form.generate }}</td>
            <td>{{ form.delete }}</td>
          </tr>
		  <!-- Display alternate images -->
			{% if form.initial.alternate_images %}
			<tr>
				<div class="alternate-images">
					<td colspan="5">
					{% for alt_image in form.initial.alternate_images %}
							<img src="{% url 'serve_coherent_images_v2_file' project.id alt_image.relative_file_path %}" alt="Alternate Image" style="max-width: 100px; max-height: 100px;">
							<!-- Promote Button -->
							<form method="post" style="display:inline;">
								{% csrf_token %}
								<input type="hidden" name="action" value="promote_alternate_image">
								<input type="hidden" name="content_type" value="page">
								<input type="hidden" name="content_identifier" value="{{ form.page.value }}">
								<input type="hidden" name="alternate_image_id" value="{{ alt_image.id }}">
								<button type="submit">Promote</button>
							</form>
					{% endfor %}
					</td>
				</div>
			</tr>
			{% endif %}
		  <tr>
		    <td><button type="submit" name="action" value="save_page_advice">Save And/Or Delete</button></td>
			<td><button type="submit" name="action" value="create_page_descriptions_and_images">Generate Selected Pages</button></td>
		  </tr>
          <tr>
		    <td>Plain text</td><td colspan="5">{{ form.page_text }}</td>
		  </tr>
		  <tr class="segmented-text-row">
		    <td>Segmented text</td><td colspan="5">{{ form.segmented_text }}</td>
		  </tr>
		  <tr class="translated-text-row">
		    <td>Translated text</td><td colspan="5">{{ form.translated_text }}</td>
		  </tr>
		  <tr class="mwe-text-row">
			 <td>MWE-tagged text</td><td colspan="5">{{ form.mwe_text }}</td>
		  </tr> 
		  <tr class="gloss-text-row">
			 <td>Glossed text</td><td colspan="5">{{ form.gloss_text }}</td> 
		  </tr>   
		  <tr class="lemma-text-row">
			 <td>Lemma-tagged text</td><td colspan="5">{{ form.lemma_text }}</td>
		  </tr>  
        {% endfor %}
      </tbody>
    </table>
	<button type="submit" name="action" value="save_page_advice">Save And/Or Delete</button>
    <button type="submit" name="action" value="create_page_descriptions_and_images">Generate Selected Pages</button>
  </form>

</div>

<div class="sticky-footer">
  <a href="{% url 'project_detail' project.id %}">Back to Project</a>
</div>
<script>
  document.getElementById('show-segmented').addEventListener('change', function() {
    toggleDisplay('segmented-text-row', this.checked);
  });
  document.getElementById('show-translated').addEventListener('change', function() {
    toggleDisplay('translated-text-row', this.checked);
  });
  document.getElementById('show-mwe').addEventListener('change', function() {
    toggleDisplay('mwe-text-row', this.checked);
  });
  document.getElementById('show-gloss').addEventListener('change', function() {
    toggleDisplay('gloss-text-row', this.checked);
  });
  document.getElementById('show-lemma').addEventListener('change', function() {
    toggleDisplay('lemma-text-row', this.checked);
  });

  function toggleDisplay(className, show) {
    const elements = document.getElementsByClassName(className);
    for (let i = 0; i < elements.length; i++) {
        elements[i].style.display = show ? '' : 'none';
    }
  }
  </script>

{% endblock %}
