{% extends "clara_app/base.html" %}
{% load clara_tags %}

{% block content %}
<h2>C-LARA updates</h2>
<form method="get" action="{% url 'home_page' %}">
    {{ search_form.as_p }}
    <button type="submit" title="Update the list based on the selected time period">Update View</button>
</form>
<h3>Recently published content</h3>
<ul>
    {% for content in contents %}
    <li><a href="{% url 'content_detail' content.id %}">{{ content.title }}</a> ({{ content.l2|titlecase }})</li>
    {% empty %}
    <li>No recent content found.</li>
    {% endfor %}
</ul>
<p>For other search options, go to <a href="{% url 'content_list' %}">Social network > Posted content</a></p>
<h3>Recent project activities</h3>
<ul>
    {% for activity in activities %}
    <li><a href="{% url 'activity_detail' activity.id %}">{{ activity.title }}</a> ({{ activity.get_status_display }})</li>
    {% empty %}
    <li>No recent activities found.</li>
    {% endfor %}
</ul>
<p>For more detailed activity tracking, go to <a href="{% url 'list_activities' %}">Social network > Activities</a></p>

{% endblock %}
