{% extends 'clara_app/base.html' %}

{% load static %}

{% block title %}Human Audio Processing{% endblock %}

{% block content %}
  <h2>Human Audio Processing ("{{ project.title }}")</h2>
  
  <form method="post" enctype="multipart/form-data" id="human-audio-processing-form">
    {% csrf_token %}
    <p>
        <label for="{{ form.method.id_for_label }}">Method:</label>
        {{ form.method }}
    </p>
    <p>
        <label for="{{ form.use_for_segments.id_for_label }}">Use for Segments:</label>
        {{ form.use_for_segments }}
    </p>
    <p>
        <label for="{{ form.use_for_words.id_for_label }}">Use for Words:</label>
        {{ form.use_for_words }}
    </p>
    <p>
        <label for="{{ form.voice_talent_id.id_for_label }}">Voice Talent ID:</label>
        {{ form.voice_talent_id }}
    </p>

	{% if form.method.value == "record" %}
		<!-- Control to download a metadata file in LiteDevTools format -->
		<p>
		  <strong>LiteDevTools Metadata Download:</strong>
		  {% if form.use_for_segments.value %}
		     <a href="{% url 'generate_audio_metadata' project.id 'segments' form.voice_talent_id.value %}" class="btn">Download for Segments</a>
		  {% endif %}
		  {% if form.use_for_words.value %}
		     <a href="{% url 'generate_audio_metadata' project.id 'words' form.voice_talent_id.value %}" class="btn">Download for Words</a>
		  {% endif %}
		</p>

		<!-- Control to upload a LiteDevTools zipfile -->
		<p>
		  <strong>Upload LiteDevTools Zipfile:</strong>
		  <input type="file" name="audio_zip" accept=".zip">
		</p>
	{% endif %}
	
	{% if form.method.value == "manual_align" %}
    <!-- Control to download the annotated segmented file -->
    <p>
      <strong>Download Annotated Segmented File:</strong>
      <a href="{% url 'generate_annotated_segmented_file' project.id %}" class="btn">Download</a>
    </p>

    <!-- Control to upload the original audio file -->
    <p>
      <strong>Upload Original Audio File:</strong>
	  <input type="file" name="manual_align_audio_file" accept=".mp3"> 
	  {% if audio_file %}
		[{{ audio_file }}]
      {% endif %}

    </p>

    <!-- Control to upload the metadata file from the audio/text alignment tool -->
    <p>
      <strong>Upload Metadata File:</strong>
	  <!--  <input type="file" name="manual_align_metadata_file" accept=".json"> -->
	  <!--  Use Audacity label file in initial testing -->
      <input type="file" name="metadata_file" accept=".txt">
	  {% if manual_align_metadata_file %}
		[{{ manual_align_metadata_file }}]
      {% endif %}
    </p>
	{% endif %}


    <button type="submit" id="submit-button">Update & Process</button>
  </form>

  <a href="{% url 'project_detail' project.id %}">Back to Project</a>

  <script type="text/javascript">
    document.getElementById('human-audio-processing-form').onsubmit = function() {
      document.getElementById('submit-button').textContent = "Processing...";
    };
  </script>

  <script src="{% static 'clara_app/scripts/form-button-text.js' %}"></script>

{% endblock %}
