{% extends 'clara_app/base.html' %}

{% load static %}

{% block title %}Audio Processing, phonetic{% endblock %}

{% block content %}
  <h2>Audio Processing, phonetic ("{{ project.title }}")</h2>
  
  <form method="post" enctype="multipart/form-data" id="phonetic-human-audio-processing-form">
    {% csrf_token %}
	<p>
        <label for="{{ form.method.id_for_label }}">Method:</label>
        {{ form.method }}
    </p>
	<p>
        <label for="{{ form.use_for_words.id_for_label }}">Use human audio for letter groups:</label>
        {{ form.use_for_words }}
    </p>
	<p>
        <label for="{{ form.use_for_segments.id_for_label }}">Use human audio for words:</label>
        {{ form.use_for_segments }}
    </p>
    <p>
        <label for="{{ form.voice_talent_id.id_for_label }}">Voice Talent ID:</label>
        {{ form.voice_talent_id }}
    </p>

	{% if form.method.value == "upload_individual" %}
		{{ formset.management_form }}
		<table>
		  <thead>
			<tr>
			  <th>Audio</th>
			  <th>Text</th>
			  <th>Upload File</th>
			</tr>
		  </thead>
		  <tbody>
			{% for audio_form in formset %}
			<tr>
			  <td>
			  {% if audio_form.audio_file_base_name.value %}
				 <audio controls>
					<source src="{% url 'serve_audio_file' 'human_voice' project.l2 form.voice_talent_id.value audio_form.audio_file_base_name.value %}">
					Your browser does not support the audio tag.
				 </audio>
			  {% else %}
				 <p>No audio</p>
			  {% endif %}
			  </td>
			  <td>{{ audio_form.text }}</td>
			  <td>{{ audio_form.audio_file_path }}</td>
			{% endfor %}
		  </tbody>
		<table>
	{% endif %}
	
	{% if form.method.value == "upload_zipfile" %}
		<!-- Control to download a metadata file in LiteDevTools format -->
		<p>
		  <strong>Metadata Download:</strong>
		  {% if form.use_for_words.value %}
			<a href="{% url 'generate_audio_metadata_phonetic' project.id 'words' form.voice_talent_id.value %}" class="btn">Download for letter groups</a>
		  {% endif %}
		  {% if form.use_for_segments.value %}
			<a href="{% url 'generate_audio_metadata_phonetic' project.id 'segments' form.voice_talent_id.value %}" class="btn">Download for words</a>
		  {% endif %}
		</p>

		<!-- Control to upload a LiteDevTools zipfile -->
		<p>
		  <strong>Upload zipfile with audio and metadata:</strong>
		  <input type="file" name="audio_zip" accept=".zip">
		</p>
	{% endif %}

    <button type="submit" id="submit-button">Update & Process</button>
  </form>

  <div class="sticky-footer">
    <a href="{% url 'project_detail' project.id %}">Back to Project</a>
  </div>

  <script type="text/javascript">
    document.getElementById('human-audio-processing-form').onsubmit = function() {
      document.getElementById('submit-button').textContent = "Processing...";
    };
  </script>

  <script src="{% static 'clara_app/scripts/form-button-text.js' %}"></script>

{% endblock %}
