{% extends 'clara_app/base.html' %}

{% load static %}

{% block title %}Human Audio Processing, phonetic{% endblock %}

{% block content %}
  <h2>Human Audio Processing, phonetic ("{{ project.title }}")</h2>
  
  <form method="post" enctype="multipart/form-data" id="human-audio-processing-form">
    {% csrf_token %}
    <p>
        <label for="{{ form.voice_talent_id.id_for_label }}">Voice Talent ID:</label>
        {{ form.voice_talent_id }}
    </p>

	{{ formset.management_form }}
	{% for audio_form in formset %}
	  <hr>
	  {% if audio_form.audio_file_base_name.value %}
		 <audio controls>
			<source src="{% url 'serve_audio_file' 'human_voice' project.l2 form.voice_talent_id.value audio_form.audio_file_base_name.value %}">
			Your browser does not support the audio tag.
		 </audio>
	  {% else %}
		 <p>No audio</p>
	  {% endif %}
	  {{ audio_form.as_p }}
	{% endfor %}

    <button type="submit" id="submit-button">Update & Process</button>
  </form>

  <a href="{% url 'project_detail' project.id %}">Back to Project</a>

  <script type="text/javascript">
    document.getElementById('human-audio-processing-form').onsubmit = function() {
      document.getElementById('submit-button').textContent = "Processing...";
    };
  </script>

  <script src="{% static 'clara_app/scripts/form-button-text.js' %}"></script>

{% endblock %}
