{% extends "clara_app/base.html" %}

{% block content %}
  <h1>Import a Project</h1>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Import Project</button>
    {% if form.errors %}
        <ul>
        {% for field in form %}
            {% for error in field.errors %}
                <li><strong>{{ field.label }}:</strong> {{ error|escape }}</li>
            {% endfor %}
        {% endfor %}
        </ul>
    {% endif %}
  </form>
{% endblock %}
