{% extends "clara_app/base.html" %}

{% block content %}
<h2>Activities</h2>
<p>Scores refer to this week's voting on priorities: top priority = 10, second = 7, third = 5</p>
<ul>
    {% for activity in activities %}
    <li>
        <a href="{% url 'activity_detail' activity.id %}">{{ activity.title }}</a>
        - Score: {{ activity.vote_score|default_if_none:"0" }}
    </li>
	{% empty %}
        <li>No activities found.</li>
    {% endfor %}
</ul>

<a href="{% url 'create_activity' %}">Create a new activity</a>
{% endblock %}


