{% extends 'clara_app/base.html' %}

{% block title %}Download export zipfile{% endblock %}

{% block content %}

  <h3>Download Export Zipfile ("{{ project.title }}")</h3>

  {% if succeeded %}
	 {% if presigned_url %}
		<p><a href="{{ presigned_url }}" download="{{ project.id }}.zip">Download Zip</a></p>
	 {% else %}
		<p><a href="{% url 'serve_export_zipfile' project.id %}" download="{{ project.id }}.zip">Download Zip</a></p>
	 {% endif %}
  {% endif %}
  
  <div class="sticky-footer">
    <a href="{% url 'project_detail' project.id %}">Back to Project</a>
  </div>

{% endblock %}
