{% extends "clara_app/base.html" %}

{% block content %}
  <h2>Profile for "{{ request.user.username }}"</h2>
  {% if profile.is_private %}
     <p><b>Account is private</b></p>
  {% endif %}
  <p>Email: {{ email }}</p>
  <p>Bio: {{ profile.bio }}</p>
  <p>Location: {{ profile.location }}</p>
  <p>Birth date: {{ profile.birth_date }}</p>
  {% if profile.profile_picture %}
    <img src="{{ profile.profile_picture.url }}" alt="Profile picture" style="max-width: 200px; max-height: 200px;">
  {% endif %}
{% endblock %}
