{% extends "clara_app/base.html" %}

{% block content %}
  {% if clara_version_to_access_with == "simple_clara" %}
     <h1>My Projects (Access through Simple C-LARA)</h1>
  {% else %}
     <h1>My Projects (Access through Advanced C-LARA)</h1>
  {% endif %}
  <br>
  <p><b>Filter using any combination of the search boxes below</b></p>
	<form method="GET">
	  <table>
	    <tr>
		  <td><label for="id_title">Title:</label></td>
		  <td>{{ search_form.title }}</td>
		</tr>
		<tr>
		  <td><label for="l2">Text language:</label></td>
		  <td>{{ search_form.l2 }}</td>
		</tr>
		<tr>
		  <td><label for="l1">Annotation language:</label></td>
		  <td>{{ search_form.l1 }}</td>
		</tr>
		<tr>
		  <td></td>
		  <td><input type="submit" value="Search"></td>
		</tr>
	  </table>
	</form>

  <br>
  <b>Activities found</b>
  <ul>
    {% for project, data in page_obj %}
      <li>
	    {% if clara_version_to_access_with == "simple_clara" %}
	      <a href="{% url 'simple_clara' project.id 'initial' %}">{% if project.title %} {{ project.title }} {% else %} (No title) {% endif %}</a> (Role: {{ data.role }})
		{% else %}
          <a href="{% url 'project_detail' project.id %}">{% if project.title %} {{ project.title }} {% else %} (No title) {% endif %}</a> (Role: {{ data.role }})
		{% endif %}
      </li>
    {% endfor %}
  </ul>

  <!-- Pagination navigation -->
  {% with request.GET.urlencode as params %}
    {% if page_obj.has_previous %}
      <a href="?{{ params }}&page=1">&laquo; first</a>
      <a href="?{{ params }}&page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}
    <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
    {% if page_obj.has_next %}
      <a href="?{{ params }}&page={{ page_obj.next_page_number }}">next</a>
      <a href="?{{ params }}&page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  {% endwith %}

{% endblock %}

