{% extends 'clara_app/base.html' %}

{% block content %}
  <h2>Published Content</h2>
  <br>
  <p><b>Filter using any combination of the search boxes below</b></p>
  <form method="get" action="{% url 'public_content_list' %}">
	  <table>
		<tr>
		  <td><label for="title">Content title:</label></td>
		  <td>{{ search_form.title }}</td>
		</tr>
		<tr>
		  <td><label for="l2">Content language:</label></td>
		  <td>{{ search_form.l2 }}</td>
		</tr>
		<tr>
		  <td><label for="l1">Translation language:</label></td>
		  <td>{{ search_form.l1 }}</td>
		</tr>
		<tr>
		  <td><label for="time_period">Published during:</label></td>
		  <td>{{ search_form.time_period }}</td>
		</tr>
		<tr>
		  <td></td>
		  <td><button type="submit">Search</button></td>
		</tr>
	  </table>
  </form>
  <br>
  <b>Content found</b>
  <ul>
    {% for content in contents %}
      <li><a href="{{ content.get_public_absolute_url }}">{% if content.title %} {{ content.title }} {% else %} (No title) {% endif %}</a></li>
    {% empty %}
      <li>No content has been posted yet.</li>
    {% endfor %}
  </ul>
  
  <div class="pagination">
    <span class="step-links">
		{% with request.GET.urlencode as params %}
			{% if contents.has_previous %}
				<a href="?{{ params }}&page=1">&laquo; first</a>
				<a href="?{{ params }}&page={{ contents.previous_page_number }}">previous</a>
			{% endif %}

			<span class="current">
				Page {{ contents.number }} of {{ contents.paginator.num_pages }}.
			</span>

			{% if contents.has_next %}
				<a href="?{{ params }}&page={{ contents.next_page_number }}">next</a>
				<a href="?{{ params }}&page={{ contents.paginator.num_pages }}">last &raquo;</a>
			{% endif %}
		{% endwith %}
    </span>
  </div>
{% endblock %}
