{% extends 'clara_app/base.html' %}
{% load clara_tags %}

{% block content %}
  <h2>{{ content.title }}</h2>
  <p>Link to published content: <a href="{{ content.url }}" target="_blank" rel="noopener">{{ content.url }}</a></p>
  <p>Access count: {{ content.unique_access_count }}</p>
  {% if average_rating %}
    <p>Average Rating: {{ average_rating }}</p>
  {% else %}
    <p>No ratings yet.</p>
  {% endif %}
  
  <table>
  <tr>
    <td>Text language:</td>
    <td>{{ content.l2|titlecase }}</td>
  </tr>
  <tr>
    <td>Annotation language:</td>
    <td>{{ content.l1|titlecase }}</td>
  </tr>
  {% if content.project %}
  <tr>
    <td>Created by:</td>
    <td>{{ content.project.user.username|slice:":3" }}***</td>
  </tr>
  {% else %}
  <tr>
    <td>Created by:</td>
    <td>{{ content.annotator|slice:":3" }}***</td>
  </tr>
  {% endif %}
  <tr>
    <td>Summary:</td>
    <td>{{ content.summary }}</td>
  </tr>
  <tr>
    <td>Length in words:</td>
    <td>{{ content.length_in_words }}</td>
  </tr>
  <tr>
    <td>Author:</td>
    <td>{{ content.author|slice:":3" }}***</td>
  </tr>
  <tr>
    <td>Voice:</td>
    <td>{{ content.voice }}</td>
  </tr>
  <tr>
    <td>Difficulty Level:</td>
    <td>{{ content.difficulty_level }}</td>
  </tr>
</table>

  <h3>Comments</h3>
  {% for comment in comments %}
    <p>
      <strong>{{ comment.user.username|slice:":3" }}***</strong>
      ({{ comment.timestamp|date:"F j, Y, P" }}):  <!-- Anonymized comment user's name -->
      {{ comment.comment }}
    </p>
  {% empty %}
    <p>No comments yet.</p>
  {% endfor %}
  
  <div class="call-to-action">
    <p>Want to participate? <a href="{% url 'login' %}?next={{ content.get_absolute_url }}">Log in or register</a> to comment and vote!</p>
</div>

{% endblock %}
