{% extends "clara_app/base.html" %}

{% block content %}
<h2>Reading History</h2>

<!-- Form to select L2 language -->
<form method="post">
    {% csrf_token %}
    <h3>Language</h3>
    {{ l2_form.as_p }}
    <button type="submit" name="action" value="select_language">Change Language</button>
</form>

<!-- Form to select phonetic preferences. Only meaningful if the language supports phonetic texts and the history is empty -->
{% if phonetic_resources_available and not projects_in_history %} 
	<br>
	<form method="post">
		{% csrf_token %}
		<h3>Do you require phonetic texts to be available?</h3>
		{{ require_phonetic_text_form.as_p }}
		<button type="submit" name="action" value="update_phonetic_preference">Update phonetic preferences</button>
	</form>
{% endif %}

<!-- List of projects in the reading history -->
<br>
<h3>Texts in Reading History</h3>
<ul>
    {% for project in projects_in_history %}
    <li>{{ project.title }}</li>
    {% empty %}
    <li>No texts in current reading history.</li>
    {% endfor %}
</ul>

<!-- Link to view the rendered content of the reading history -->
{% if rendered_html_exists %}
	<p><a href="{% url 'serve_rendered_text' project_id 'normal' 'page_1.html' %}" target="_blank">View Content</a></p>
{% else %}
	<p>No multimedia text found</p>
{% endif %}

<!-- Form to add a project to the reading history -->
{% if projects_available %}
	<form method="post">
		{% csrf_token %}
		<h3>Add Text to Reading History</h3>
		{{ add_project_form.as_p }}
		<button type="submit" name="action" value="add_project">Add Selected Text</button>
	</form>
{% else %}
<p><b>No other texts currently available to add to history</b</p>
{% endif %}

<!-- Delete Reading History Button/Form -->
{% if projects_in_history %}
	<br>
	<h3>Delete Current Reading History</h3>
	<form method="post">
		{% csrf_token %}
		<button type="submit" name="action" value="delete_reading_history" onclick="return confirm('Are you sure you want to delete this reading history?');">Delete</button>
	</form>
{% endif %}

{% endblock %}
