{% extends 'clara_app/base.html' %}

{% block title %}Show Rendered Text{% endblock %}

{% block content %}

  {% if content_url %}
    <h3>Rendered Text ("{{ project.title }}")</h3>
	<p><a href="{% url 'serve_rendered_text' project.id phonetic_or_normal 'page_1.html' %}" target="_blank">View Content</a></p>
    {% if zipfile_url %}
       <p><a href="{% url 'serve_zipfile' project.id %}" download="{{ project.id }}.zip">Download Zip</a></p>
    {% endif %}
	
	<form method="post" action="{% url 'register_project_content' project.id phonetic_or_normal %}" id="register-content-form">
      {% csrf_token %}
      {{ register_form.as_p }}
      <button type="submit" id="register-button">Register as Content</button>
    </form>
  {% endif %}
  
  <div class="sticky-footer">
    <a href="{% url 'project_detail' project.id %}">Back to Project</a>
  </div>

  <script type="text/javascript">
    document.getElementById('render-text-form').onsubmit = function() {
      document.getElementById('submit-button').textContent = "Processing...";
    };
  </script>
{% endblock %}
