{% extends "clara_app/base.html" %}

{% block content %}
<h2>Questionnaire Response</h2>
<p>Project: {{ project.title }}</p>
<p>User: {{ questionnaire.user.username }}</p>
<p>Created at: {{ questionnaire.created_at|date:"Y-m-d H:i" }}</p>
<p>Text Correspondence: {{ questionnaire.get_text_correspondence_display }}</p>
<p>Language Correctness: {{ questionnaire.get_language_correctness_display }}</p>
<p>Text Engagement: {{ questionnaire.get_text_engagement_display }}</p>
<p>Cultural Appropriateness: {{ questionnaire.get_cultural_appropriateness_display }}</p>
<p>Image Match: {{ questionnaire.get_image_match_display }}</p>
<p>Showed Text: {{ questionnaire.get_shared_text_display }}</p>
<p>Functionality Improvement Suggestion: {{ questionnaire.functionality_improvement }}</p>
<p>Design Improvement Suggestion: {{ questionnaire.design_improvement }}</p>
{% endblock %}
