{% extends 'clara_app/base.html' %}

{% block content %}

  <h2>Simple C-LARA</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
	<h3>Project name</h3>
	<p>{{ form.title }}
	{% if status != 'No project' %}
      <button type="submit" name="action" value="change_title">Change Name</button>
    {% endif %}</p>
    {% if status == 'No project' %}
	  <h3>Languages</h3>
	  <table>
		<tr>
		  <td><label for="l2">Text language:</label></td>
		  <td>{{ form.l2 }}</td>
		</tr>
		<tr>
		  <td><label for="l1">Annotation language:</label></td>
		  <td>{{ form.l1 }}</td>
		</tr>
	  </table>
	  <h3>What do you want to do?</h3>
	  {{ form.simple_clara_type }}
      <button type="submit" name="action" value="create_project">Create Project</button>
    {% endif %}
	
	{% if simple_clara_type == 'create_text_and_image' and status != 'No project' %}
	   <h3>Prompt</h3>
	   <p>{{ form.prompt }}</p>
	{% endif %}
	
	{% if simple_clara_type == 'create_text_and_image' %}
		{% if status == 'No prompt' or status == 'No text' %}
			<button type="submit" name="action" value="create_text_and_image">Create Text and Image</button>
		{% endif %}
    {% endif %}
	
	{% if simple_clara_type == 'create_text_from_image' %}
		{% if status == 'No image prompt' or status == 'No text'  %}
		   <h3>Image and instructions</h3>
		   <p>Tell the AI to create text from an image you upload, e.g. "Write an imaginative story based on this image"</p>
		   <p>Instructions: {{ form.prompt }}</p>
		   <p>Image: {{ form.image_file_path }} <p><button type="submit" name="action" value="save_uploaded_image_prompt">Create text from image</button></p>
		{% else %}
		   <h3>Original image</h3>
		   <p><img src="{% url 'serve_project_image' form.internal_title.value form.image_basename.value %}" alt="Generated Image" style="max-width: 300px; max-height: 300px;"></p>
		   <p>Reuse the previous instructions to the AI, or update them:</p>
		   <p>{{ form.prompt }}
		   <button type="submit" name="action" value="regenerate_text_from_image">Regenerate text from image</button><p>
		{% endif %}
	{% endif %}
	
	{% if simple_clara_type == 'annotate_existing_text' and status == 'No text' %}
	   <h3>Provide your own text</h3>
	   <p>{{ form.plain_text }}
	     <button type="submit" name="action" value="save_text_to_annotate">Save Text</button></p>
	{% endif %}
	
	{% if status != 'No project' and status != 'No prompt' and status != 'No image prompt' and status != 'No text' %}
	  <h3>Generated text title</h3>
	  <p>{{ form.text_title }}
	     <button type="submit" name="action" value="save_text_title">Save Edited Text Title</button></p>
	  <h3>Generated text</h3>
	  <p>{{ form.plain_text }}
	     <button type="submit" name="action" value="save_text">Save Edited Text</button>
		 {% if simple_clara_type != 'create_text_from_image' %}
			<button type="submit" name="action" value="rewrite_text">Rewrite Text</button></p>
		 {% endif %}
	  <br>
    {% endif %}
	
	{% if simple_clara_type != 'create_text_from_image' %}
		{% if status == 'No multimedia' or status == 'No segmented text' or status == 'Everything available' or status == 'Posted' %}
		  <h3>Image</h3>
		  <p><img src="{% url 'serve_project_image' form.internal_title.value form.image_basename.value %}" alt="Generated Image" style="max-width: 300px; max-height: 300px;"></p>
		  <p>You can try adding advice in the box below if you regenerate the image.</p>
		   <p>{{ form.image_advice_prompt }} <button type="submit" name="action" value="regenerate_image">Regenerate Image</button><p>
		{% elif status == 'No image' or status == 'Everything available except image' or status == 'Posted without image' %}
		   <h3>Image</h3>
		   <p>Image generation failed, probably due to constraints on appropriate content. Sometimes adding advice in the box below and regenerating will fix this.</p>
		   <p>{{ form.image_advice_prompt }} <button type="submit" name="action" value="regenerate_image">Regenerate Image</button></p>
		{% endif %}
		{% if status == 'No multimedia' or status == 'No segmented text' or status == 'Everything available' or status == 'Posted' or status == 'No image' or status == 'Everything available except image' or status == 'Posted without image' %}
		   <h3>Uploaded image (alternative to AI-generated image)</h3>
		   <p>{{ form.image_file_path }} <button type="submit" name="action" value="save_uploaded_image">Save Uploaded Image</button><p>
		{% endif %}
	{% endif %}
  
    {% if status == 'No image' or status == 'No multimedia' or status == 'No segmented text' or status == 'Everything available' or status == 'Everything available except image' or status == 'Posted' or status == 'Posted without image' %}
	  {% if status == 'No multimedia' or status == 'Everything available' or status == 'Everything available except image' or status == 'Posted' or status == 'Posted without image' %}
	    <h3>Segmented title</h3>
		<p>{{ form.segmented_title }}
	    <button type="submit" name="action" value="save_segmented_title">Save Edited Segmented Title</button></p>
		<br>
	    <h3>Segmented text</h3>
		<p>{{ form.segmented_text }}
	    <button type="submit" name="action" value="save_segmented_text">Save Edited Segmented Text</button></p>
		<br>
	  {% endif %}
	  <h3>Multimedia text</h3>
	  {% if status != 'No image' and status != 'No multimedia' and status != 'No segmented text' %}
	    <p><a href="{% url 'serve_rendered_text' project_id 'normal' 'page_1.html' %}" target="_blank">View Multimedia Text</a></p>
	  {% endif %}
	  {% if status == 'No segmented text' %}
        <button type="submit" name="action" value="create_segmented_text">Generate Segmented Text</button>
	  {% elif status == 'No image' or status == 'No multimedia' %}
	    <p>{{ form.preferred_tts_engine }}
		<button type="submit" name="action" value="save_preferred_tts_engine">Save preferred TTS engine</button></p>
        <p><button type="submit" name="action" value="create_rendered_text">Generate Multimedia Text</button></p>
	  {% else %}
	    <p>{{ form.preferred_tts_engine }}
		<button type="submit" name="action" value="save_preferred_tts_engine">Save preferred TTS engine</button></p>
        <p><button type="submit" name="action" value="create_rendered_text">Regenerate Multimedia Text</button><p>
	  {% endif %}
    {% endif %}
	
	{% if status == 'Everything available' or status == 'Everything available except image' or status == 'Posted' or status == 'Posted without image' %}
	  <h3>C-LARA Social Network</h3>
	  {% if status == 'Everything available' or status == 'Everything available except image' %}
        <button type="submit" name="action" value="post_rendered_text">Post to Social Network</button>
	  {% else %}
	    <p><a href="{{ content.get_absolute_url }}" target="_blank">View Social Network Page</a></p>
	  {% endif %}
	  <br>
	  <h3>Satisfaction questionnaire</h3>
	  <p><a href="{% url 'satisfaction_questionnaire' project_id %}" target="_blank">Go to Questionnaire</a></p>
    {% endif %}
  </form>
  {% if status != 'No project' %}
    <br>
    <p><a href="{% url 'project_detail' project_id %}"><strong>[View project in full C-LARA]</strong></a></p>
  {% endif %}
  
 {% endblock %}
  