{% extends "clara_app/base.html" %}

{% block content %}
    <h2>Performing Simple-C-LARA action ("{{ project.title }}")</h2>
	
	<div class="flex-container">
        <div class="status-messages-class" id="high-level-status-messages">
        </div>
  
        <div class="status-messages-class" id="status-messages">
        </div>
    </div>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
		var interval_id = setInterval(getTaskStatus, 5000);  // Call getTaskStatus every 5 seconds
		var lastUpdateTimestamp = new Date().getTime(); // Get the current timestamp

		function getTaskStatus() {
			$.ajax({
				url: "{% url 'simple_clara_status' project_id report_id %}",  // The URL of the simple_clara_status endpoint
				type: "get",
				success: function(response) {
					// Check if there are new messages
					if (response.messages.length > 0) {
						// Update the last update timestamp
						lastUpdateTimestamp = new Date().getTime();

						// Add the latest messages to the status messages element
						response.messages.forEach(function(message) {
							$("#status-messages").append("<p>" + message + "</p>");
							
							if (message.startsWith("STARTED TASK:") || message.startsWith("ENDED TASK:")) {
							    $("#high-level-status-messages").append("<p>" + message + "</p>");
							}
							
						});
					} else {
						// If no new messages, add a placeholder message
						$("#status-messages").append("<p>[No updates for last 5 seconds]</p>");
					}

					$("#status-messages").animate({ scrollTop: $('#status-messages')[0].scrollHeight}, "fast");
					$("#high-level-status-messages").animate({ scrollTop: $('#status-messages')[0].scrollHeight}, "fast");

					// If the task has completed, stop polling the server and redirect to the 'simple_clara' view,
					// passing the project_id and the status
					if (response.status == 'finished') {
						clearInterval(interval_id);
						window.location = "{% url 'simple_clara' project_id 'finished' %}";
					} else if (response.status == 'error') {
						clearInterval(interval_id);
						window.location = "{% url 'simple_clara' project_id 'error' %}";
					}

				}
			});
		}

	</script>

{% endblock %}