{% extends 'clara_app/base.html' %}

{% block content %}

  <h2>Simple C-LARA</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
	<h3>Project name</h3>
	<p>{{ form.title }}
	{% if status != 'No project' %}
      <button type="submit" name="action" value="change_title">Change Name</button>
    {% endif %}</p>
    {% if status == 'No project' %}
	  <h3>Languages</h3>
	  <table>
		<tr>
		  <td><label for="l2">Text language:</label></td>
		  <td>{{ form.l2 }}</td>
		</tr>
		<tr>
		  <td><label for="l1">Annotation language:</label></td>
		  <td>{{ form.l1 }}</td>
		</tr>
	  </table>
	  <h3>What do you want to do?</h3>
	  {{ form.simple_clara_type }}
      <button type="submit" name="action" value="create_project">Create Project</button>
    {% endif %}
	
	{% if simple_clara_type != 'create_text_from_image' and simple_clara_type != 'annotate_existing_text' and status != 'No project' %}
	   <h3>Prompt</h3>
	   <p>{{ form.prompt }}</p>
	{% endif %}
	
	{% if simple_clara_type == 'create_text_and_image' %}
		{% if status == 'No prompt' or status == 'No text' %}
			<button type="submit" name="action" value="create_text_and_image">Create Text and Image</button>
		{% endif %}
    {% endif %}
	
	{% if simple_clara_type == 'create_text_and_multiple_images' %}
		{% if status == 'No prompt' or status == 'No text' %}
			<button type="submit" name="action" value="create_text">Create Text</button>
		{% endif %}
    {% endif %}
	
	{% if simple_clara_type == 'create_text_from_image' %}
		{% if status == 'No image prompt' or status == 'No text'  %}
		   <h3>Image and instructions</h3>
		   <p>Tell the AI to create text from an image you upload, e.g. "Write an imaginative story based on this image"</p>
		   <p>Instructions: {{ form.prompt }}</p>
		   <p>Image: {{ form.image_file_path }} <p><button type="submit" name="action" value="save_uploaded_image_prompt">Create text from image</button></p>
		{% else %}
		   <h3>Original image</h3>
		   <p><img src="{% url 'serve_project_image' form.internal_title.value form.image_basename.value %}" alt="Generated Image" style="max-width: 300px; max-height: 300px;"></p>
		   <p>Reuse the previous instructions to the AI, or update them:</p>
		   <p>{{ form.prompt }}
		   <button type="submit" name="action" value="regenerate_text_from_image">Regenerate text from image</button><p>
		{% endif %}
	{% endif %}
	
	{% if simple_clara_type == 'annotate_existing_text' and status == 'No text' %}
	   <h3>Provide your own text</h3>
	   <p>{{ form.plain_text }}
	     <button type="submit" name="action" value="save_text_to_annotate">Save Text</button></p>
	{% endif %}
	
	{% if up_to_date_dict.title and not up_to_date_dict.segmented_title %}
	  <h3>Generated text title</h3>
	  <p>{{ form.text_title }}
	     <button type="submit" name="action" value="save_text_title">Save Edited Text Title</button></p>
	{% endif %}
	{% if up_to_date_dict.plain and not up_to_date_dict.segmented %}
	  <h3>Generated text</h3>
	  <p>{{ form.plain_text }}
	     <button type="submit" name="action" value="save_text">Save Edited Text</button>
		 {% if simple_clara_type != 'create_text_from_image' %}
			<button type="submit" name="action" value="rewrite_text">Rewrite Text</button></p>
		 {% endif %}
	  <br>
    {% endif %}
	
	{% if simple_clara_type != 'create_text_from_image' and simple_clara_type != 'create_text_and_multiple_images' %}
		{% if status == 'No multimedia' or status == 'No segmented text' or status == 'Everything available' or status == 'Posted' %}
		  <h3>Image</h3>
		  <p><img src="{% url 'serve_project_image' form.internal_title.value form.image_basename.value %}" alt="Generated Image" style="max-width: 300px; max-height: 300px;"></p>
		  <p>You can try adding advice in the box below if you regenerate the image.</p>
		   <p>{{ form.image_advice_prompt }} <button type="submit" name="action" value="regenerate_image">Regenerate Image</button><p>
		{% elif status == 'No image' or status == 'Everything available except image' or status == 'Posted without image' %}
		   <h3>Image</h3>
		   <p>Image generation failed, probably due to constraints on appropriate content. Sometimes adding advice in the box below and regenerating will fix this.</p>
		   <p>{{ form.image_advice_prompt }} <button type="submit" name="action" value="regenerate_image">Regenerate Image</button></p>
		{% endif %}
		{% if status == 'No multimedia' or status == 'No segmented text' or status == 'Everything available' or status == 'Posted' or status == 'No image' or status == 'Everything available except image' or status == 'Posted without image' %}
		   <h3>Uploaded image (alternative to AI-generated image)</h3>
		   <p>{{ form.image_file_path }} <button type="submit" name="action" value="save_uploaded_image">Save Uploaded Image</button><p>
		{% endif %}
	{% endif %}
	
	{% if not up_to_date_dict.segmented and up_to_date_dict.plain %}
		<h3>Multimedia text</h3>
		<p><button type="submit" name="action" value="create_segmented_text">Create Segmented Text</button></p>
	{% endif %}
  
    {% if up_to_date_dict.segmented %}
	    <h3>Segmented title</h3>
		<p>{{ form.segmented_title }}
	    <button type="submit" name="action" value="save_segmented_title">Save Edited Segmented Title</button></p>
		<br>
	    <h3>Segmented text</h3>
		<p>{{ form.segmented_text }}
	    <button type="submit" name="action" value="save_segmented_text">Save Edited Segmented Text</button></p>
		<br>	  
	  {% if simple_clara_type == 'create_text_and_multiple_images' or form.style_advice.value %}
	    <h3>Image Style</h3>
		{% if not resources.v2_images_dict.style %}
			<p>Briefly describe the style you want to use for the images.</p>
			<p>{{ form.style_advice }}
			<button type="submit" name="action" value="create_v2_style">Generate Style</button></p>
		{% endif %}
		{% if resources.v2_images_dict.style %}
			<p><img src="{% url 'serve_coherent_images_v2_file' project_id resources.v2_images_dict.style.relative_file_path %}" alt="Style Image" style="max-width: 200px; max-height: 200px;">)</p>
			<p>Briefly describe the style you want to use for the images.</p>
			<p>{{ form.style_advice }}
			<button type="submit" name="action" value="create_v2_style">Regenerate Style</button></p>
		{% endif %}
		{% if not resources.v2_images_dict.elements %}
			<h3>Image Elements</h3>
			<button type="submit" name="action" value="create_v2_elements">Generate Image Elements</button></p>
		{% endif %}
		{% if resources.v2_images_dict.elements %}
			<h3>Image Elements</h3>
			<table class="table">
			  <thead>
				<tr>
				  <th>Element Name</th>
				  <th>Image</th>
				  <th>Actions</th>
				</tr>
			  </thead>
			  <tbody>
				{% for key, element_item in resources.v2_images_dict.elements.items %}
					  <tr>
						<td>{{ element_item.element_text }}</td>
						<td>
						  {% if element_item.relative_file_path %}
							<img src="{% url 'serve_coherent_images_v2_file' project_id element_item.relative_file_path %}" alt="{{ element_item.element_text }}" style="max-width: 100px; max-height: 100px;">
						  {% else %}
							<p>No image.</p>
						  {% endif %}
						</td>
						<td>
							<a href="{% url 'simple_clara_review_v2_images_for_element' project_id element_item.element_name 'simple_clara' 'init' %}">Review Element</a><br>
							<form method="post" style="display:inline-block;">
							{% csrf_token %}
							<input type="hidden" name="action" value="delete_v2_element">
							<input type="hidden" name="deleted_element_text" value="{{ element_item.element_text }}">
							<button type="submit">Delete Element</button>
						    </form>
						</td>
					  </tr>
				{% endfor %}
			  </tbody>
			  <!-- Add a row for adding new elements -->
				<tfoot>
				  <tr>
					<td colspan="3">
					  <form method="post" style="display:inline-block;">
						{% csrf_token %}
						<input type="hidden" name="action" value="add_v2_element">
						<label for="new_element_name">New Element:</label>
						<input type="text" name="new_element_text" id="new_element_text"
							   placeholder="Enter the name of the new element...">
						<button type="submit">Add Element</button>
					  </form>
					</td>
				  </tr>
				</tfoot>
			</table>
		{% endif %}
		{% if resources.v2_images_dict.elements and not resources.v2_pages_overview_info %}
			<h3>Page Images</h3>
			<p><button type="submit" name="action" value="create_v2_pages">Generate Page Images</button></p>
		{% endif %}
		{% if resources.v2_images_dict.elements and resources.v2_pages_overview_info %}
			<h3>Page Images</h3>
			<table class="table">
				<thead>
					<tr>
						<th>Page Number</th>
						<th>Text</th>
						<th>Image</th>
						<th>Links</th>
					</tr>
				</thead>
				<tbody>
					{% for page in resources.v2_pages_overview_info %}
					<tr>
						<td>{{ page.page_number }}</td>
						<td><pre>{{ page.excerpt }}<br>{{ page.original_text_excerpt }}</pre></td>
						<td>
							{% if page.relative_page_image_path %}
								<img src="{% url 'serve_coherent_images_v2_file' project_id page.relative_page_image_path %}" alt="Page {{ page.page_number }} image" style="max-width:100px; max-height:100px;">
							{% else %}
								<em>No image</em>
							{% endif %}
						</td>
						<td>
							<a href="{% url 'simple_clara_review_v2_images_for_page' project_id page.page_number 'simple_clara' 'init' %}">Review this Page</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
	  {% endif %}
	{% endif %}
	{% if up_to_date_dict.segmented and up_to_date_dict.segmented_title %}
		<h3>Multimedia text</h3>
		{% if up_to_date_dict.render %}
			<p><a href="{% url 'serve_rendered_text' project_id 'normal' 'page_1.html' %}" target="_blank">View Multimedia Text</a></p>
		{% endif %}
		<p>{{ form.preferred_tts_engine }}
		<button type="submit" name="action" value="save_preferred_tts_engine">Save preferred TTS engine</button></p>
		{% if not up_to_date_dict.render %}
			<p><button type="submit" name="action" value="create_rendered_text">Generate Multimedia Text</button></p>
		{% else %}
			<p><button type="submit" name="action" value="create_rendered_text">Regenerate Multimedia Text</button><p>
		{% endif %}

		{% if up_to_date_dict.render %}
			<h3>C-LARA Social Network</h3>
			{% if not up_to_date_dict.social_network %}
				<button type="submit" name="action" value="post_rendered_text">Post to Social Network</button>
			{% else %}
				<p><a href="{{ content.get_absolute_url }}" target="_blank">View Social Network Page</a></p>
			{% endif %}
			<br>
			<h3>Satisfaction questionnaire</h3>
			<p><a href="{% url 'satisfaction_questionnaire' project_id %}" target="_blank">Go to Questionnaire</a></p>
		{% endif %}
	{% endif %}
	  
  {% if status != 'No project' %}
    <br>
    <p><a href="{% url 'project_detail' project_id %}"><strong>[View project in full C-LARA]</strong></a></p>
  {% endif %}
  
 {% endblock %}
  