{% extends "clara_app/base.html" %}
{% block content %}
<h4>{{ link.book.title }}</h4>
<a class="btn btn-sm btn-outline-primary mb-3" target="_blank"
   href="{{ link.book.get_public_absolute_url }}">Open text in new tab</a>

<form method="post">
  {% csrf_token %}
  <input type="hidden" name="phase" value="book">
  
  <table class="table table-bordered">
    <thead>
      <tr><th>Question</th>
        {% for n in "12345" %}<th>{{ forloop.counter }}</th>{% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for q in questions %}
      <tr>
        <td>{{ q.text }}</td>
        {% for n in "12345" %}
        <td class="text-center">
          <input type="radio" name="q{{ q.id }}" value="{{ forloop.counter }}"
                 required>
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <button class="btn btn-primary">Submit ratings</button>
</form>
{% endblock %}
