{% extends "clara_app/base.html" %}
{% block content %}
<h3>My Text Questionnaires</h3>
<a class="btn btn-sm btn-success mb-2" href="{% url 'tq_create' %}">+ New questionnaire</a>
<table class="table table-sm">
  <thead>
    <tr><th>Title</th><th>#Books</th><th>#Responses</th><th></th></tr>
  </thead>
  <tbody>
  {% for tq in tqs %}
    <tr>
      <td>{{ tq.title }}</td>
      <td>{{ tq.tqbooklink_set.count }}</td>
      <td>{{ tq.tqresponse_set.count }}</td>
      <td>
        <a href="{% url 'tq_edit' tq.pk %}" class="btn btn-sm btn-outline-primary">Edit</a>
        <a href="{% url 'tq_skimlist' tq.slug %}" class="btn btn-sm btn-outline-secondary">Open</a>
      </td>
    </tr>
  {% empty %}
    <tr><td colspan="4">You haven’t created any questionnaires yet.</td></tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
