<!DOCTYPE html>
<html lang="{{ l2_language }}" dir="{{ 'rtl' if is_rtl else 'ltr' }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page {{ page_number }}</title>
  <link rel="stylesheet" href="./static/clara_styles_main.css">
</head>
<body>
  <header>
    {% if page.annotations.title %} <p>"{{ page.annotations.title }}" p. {{ page_number }}/{{ total_pages }}</p> {% endif %}
	<nav class="nav-bar">
		<a href="{{ 'page_1.html' if page_number > 1 else '' }}" class="{{ 'disabled' if page_number <= 1 else '' }}">&#x21E4;</a> <!-- First: Leftwards Arrow To Bar -->
		<a href="{{ 'page_' ~ (page_number - 1) ~ '.html' if page_number > 1 else '' }}" class="{{ 'disabled' if page_number <= 1 else '' }}">&#x2190;</a> <!-- Previous: Leftwards Arrow -->
		<a href="{{ 'page_' ~ (page_number + 1) ~ '.html' if page_number < total_pages else '' }}" class="{{ 'disabled' if page_number >= total_pages else '' }}">&#x2192;</a> <!-- Next: Rightwards Arrow -->
		<a href="{{ 'page_' ~ total_pages ~ '.html' if page_number < total_pages else '' }}" class="{{ 'disabled' if page_number >= total_pages else '' }}">&#x21E5;</a> <!-- Last: Rightwards Arrow To Bar -->
		<button id="vocab-frequency-btn">Frequency</button>
		<button id="vocab-alphabetical-btn">Alphabetical</button>
		
		<!-- Conditional link to the other version -->
		{% if phonetic and normal_html_exists %}
			<a href="{{ '/accounts/rendered_texts' + '/' + project_id + '/' + 'normal' + '/' + 'page_' + page_number_str + '.html' }}">Words</a>
		{% elif not phonetic and phonetic_html_exists %}
			<a href="{{ '/accounts/rendered_texts' + '/' + project_id + '/' + 'phonetic' + '/' + 'page_' + page_number_str + '.html' }}">Sounds</a>
		{% endif %}
	</nav>

  </header>
  <!-- Wrap the main text pane and concordance pane in a container div -->
  <div class="page-container {{ 'dir="rtl"' if is_rtl else '' }}">
    <div class="main-text-pane-wrapper">
	  <div class="page" id="main-text-pane">
		{% if page.annotations.tts %}
			<p><audio controls>
				<source src="{{ '/accounts/serve_audio_file/' + page.annotations.tts.engine_id + '/' + page.annotations.tts.language_id + '/' + page.annotations.tts.voice_id + '/' + page.annotations.tts.file_path }}" type="audio/mpeg">
				Your browser does not support the audio element.
			</audio></p>
		{% endif %}
		{%- for segment in page.segments -%}
		<span class="segment" 
			  data-segment-uid="{{ segment.annotations.segment_uid }}" 
			  data-segment-audio="{{ segment.annotations.tts.file_path if segment.annotations.tts else '' }}">
		  {%- for element in segment.content_elements -%}
		    {%- if element.type == "Image" -%}
			  <!-- <div class="image-container" style="width: {{ element.content.width }}px; height: {{ element.content.height }}px;"> -->
			  <!-- <div class="image-container" style="width: 500px; height: 500px;"> -->
				<img src="{{ '/accounts/projects/serve_project_image/' + element.content.project_id_internal + '/' + element.content.src }}" alt="Project Image" style="width: 25vw; max-width: 350px; max-height: 350px;">
				{%- if not phonetic and element.content.transformed_segments -%}
				  <svg viewBox="0 0 {{ element.content.width }} {{ element.content.height }}">
				  {%- for segment in element.content.transformed_segments -%}
					{%- for content_element in segment.content_elements -%}
						{%- if content_element.annotations.coordinates -%}
							{% set data_attributes = [] %}
							{% if content_element.annotations.gloss %}
								{% set data_attributes = data_attributes + ['data-gloss="' + content_element.annotations.gloss +'"'] %}
							{% endif %}
							{% if content_element.annotations.lemma %}
								{% set data_attributes = data_attributes + ['data-lemma="' + content_element.annotations.lemma +'"'] %}
							{% endif %}
							{% if content_element.annotations.tts and content_element.annotations.tts.file_path %}
								{% set data_attributes = data_attributes + ['data-audio="' + content_element.annotations.tts.file_path +'"'] %}
							{% endif %}
							<g class="svg-word" {{ data_attributes|join(' ') }}>
							  {% if content_element.annotations.shape == 'rectangle' %}
							    <!-- We need fill="rgba(0, 0, 0, 0)" to get mouse-sensitivity inside the shape. fill="none" doesn't work. -->
								<rect x="{{ content_element.annotations.coordinates.x }}" y="{{ content_element.annotations.coordinates.y }}" 
								width="{{ content_element.annotations.coordinates.width }}" height="{{ content_element.annotations.coordinates.height}}" 
								fill="rgba(0, 0, 0, 0)" stroke="black"></rect>
							  {% elif content_element.annotations.shape == 'polygon' %}
								<polygon points="{{ content_element.annotations.coordinates|join(' ') }}" 
								fill="rgba(0, 0, 0, 0)" stroke="black"></polygon>
							  {% endif %}
							</g>
						{% endif %}
					{%- endfor -%}
				  {%- endfor -%}
				  </svg>
				{%- endif -%}
			  <!-- </div> -->
			{%- elif element.type == "Word" -%}
				{%- if not phonetic -%}
					{%- if element.annotations.pinyin -%}
						<ruby class="word" data-gloss="{{ element.annotations.gloss if element.annotations.gloss else '' }}" 
							  data-lemma="{{ element.annotations.lemma|replace_punctuation if element.annotations.lemma else '' }}" 
							  data-audio="{{ element.annotations.tts.file_path if element.annotations.tts else '' }}">
							{{ element.content }}
							<rt>{{ element.annotations.pinyin }}</rt>
						</ruby>
					{%- else -%}
						<span class="word" data-gloss="{{ element.annotations.gloss|e if element.annotations.gloss else '' }}" 
							  data-lemma="{{ element.annotations.lemma|replace_punctuation if element.annotations.lemma else '' }}" 
							  data-audio="{{ element.annotations.tts.file_path if element.annotations.tts else '' }}">{{ element.content }}</span>
					{%- endif -%}
				{%- elif phonetic and element.annotations.phonetic -%}
					<span class="word" data-gloss="{{ element.annotations.phonetic if element.annotations.phonetic else '' }}" 
						data-lemma="{{ element.annotations.phonetic|replace_punctuation if element.annotations.phonetic else '' }}" 
						data-audio="{{ element.annotations.tts.file_path if element.annotations.tts else '' }}">{{ element.content }}</span>
				{%- endif -%}
			{%- else -%}{{ element.content|replace('\n', '<br>')|safe }}
			{%- endif -%}
		  {%- endfor -%}
		  {%- if segment.annotations.tts -%}
			<span class="speaker-icon">&#128266;</span>
		  {%- endif -%}
		  {%- if 'translated' in segment.annotations -%}
			<span class="translation-icon" data-translation="{{ segment.annotations.translated|e }}">&#9998;</span>
		  {%- endif -%}
		</span>
		{%- endfor -%}
	  </div>
    </div>
    <div class="concordance-pane-wrapper">
	  <iframe id="concordance-pane" src="" frameborder="0" class="concordance-iframe"></iframe>
    </div>
  </div>
  <footer>
	<nav class="nav-bar">
		<a href="{{ 'page_1.html' if page_number > 1 else '' }}" class="{{ 'disabled' if page_number <= 1 else '' }}">&#x21E4;</a> <!-- First: Leftwards Arrow To Bar -->
		<a href="{{ 'page_' ~ (page_number - 1) ~ '.html' if page_number > 1 else '' }}" class="{{ 'disabled' if page_number <= 1 else '' }}">&#x2190;</a> <!-- Previous: Leftwards Arrow -->
		<a href="{{ 'page_' ~ (page_number + 1) ~ '.html' if page_number < total_pages else '' }}" class="{{ 'disabled' if page_number >= total_pages else '' }}">&#x2192;</a> <!-- Next: Rightwards Arrow -->
		<a href="{{ 'page_' ~ total_pages ~ '.html' if page_number < total_pages else '' }}" class="{{ 'disabled' if page_number >= total_pages else '' }}">&#x21E5;</a> <!-- Last: Rightwards Arrow To Bar -->
		<button id="vocab-frequency-btn">Frequency</button>
		<button id="vocab-alphabetical-btn">Alphabetical</button>
		
		<!-- Conditional link to the other version -->
		{% if phonetic and normal_html_exists %}
			<a href="{{ '/accounts/rendered_texts' + '/' + project_id + '/' + 'normal' + '/' + 'page_' + page_number_str + '.html' }}">Words</a>
		{% elif not phonetic and phonetic_html_exists %}
			<a href="{{ '/accounts/rendered_texts' + '/' + project_id + '/' + 'phonetic' + '/' + 'page_' + page_number_str + '.html' }}">Sounds</a>
		{% endif %}
	</nav>
	{% if page.annotations.acknowledgements %} <p>{{ page.annotations.acknowledgements }} </p> {% endif %}
  </footer>
  <script src="./static/clara_scripts.js"></script>
  <script>
    function removeClassAfterDuration(element, className, duration) {
	  setTimeout(() => {
		element.classList.remove(className);
	  }, duration);
	}

	document.addEventListener('DOMContentLoaded', () => {
	  window.addEventListener('message', (event) => {
      if (event.data.type === 'loadConcordance') {
        const concordancePane = document.getElementById("concordance-pane");
        concordancePane.src = `concordance_${event.data.data.lemma}.html`;
      } else if (event.data.type === 'scrollToSegment') {
        const { segmentUid, pageNumber } = event.data.data;
        scrollToSegmentHandler(segmentUid, pageNumber);
      }
	});

	  // Add event listeners for SVG gloss popups
		document.querySelectorAll('.svg-word').forEach(svgWord => {
		  let popup;

		  svgWord.addEventListener('mouseenter', function(event) {
			//console.log('Mouse entered:', event.target, 'at', event.clientX, event.clientY);

			// Show gloss popup
			const glossText = this.getAttribute('data-gloss');
			popup = document.createElement('div');
			popup.classList.add('svg-gloss-popup');
			popup.textContent = glossText;
			popup.style.position = 'absolute';
			popup.style.backgroundColor = 'rgba(0, 0, 0, 0.8)';
			popup.style.color = '#fff';
			popup.style.padding = '4px 10px';
			popup.style.borderRadius = '3px';
			popup.style.fontSize = '1em';
			popup.style.top = `${event.clientY - 30}px`;
			popup.style.left = `${event.clientX + 10}px`;
			document.body.appendChild(popup);
		  });

		  svgWord.addEventListener('mouseleave', function(event) {
			//console.log('Mouse left:', event.target, 'at', event.clientX, event.clientY);

			// Hide gloss popup
			if (popup) {
			  document.body.removeChild(popup);
			}
		  });
		});
	});
  </script>
</body>
</html>